@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

/* The contents of this container which has display: flex are called flex items */
.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid black;
  /* by default flex-flow value is row, so when you set display: flex, the content gets aligned along row/rows */
  display: flex;
  /* gap between items */
  gap:1rem;
  /* Horizontal alignment of flex items when flex-direction is row, vertical when it is column
  space-around: space between containers evenly split except at the borders of the container
  space-between: edge-items coincide with borders of the flex container with all items having 
  equal space between them
  space-evenly: spacing is same between items, as well as between borders of the containers and the items
   */
  justify-content: center;
  /* Vertical alignment of individual flex items when flex-direction is row, horizontal when it is column */
  align-items:center;
  /* flex-flow: direction wrap/nowrap */
  flex-flow: row wrap;
  /* Alignment of rows/columns of flex items, each row/column considered together as one */
  align-content: space-evenly;
} 

/* To center anything inside a container, write this code in the CONTAINER 
  display:flex; ->changes container to flex, with direction as row and nowrap by default
  justify-content: centers content inside the container horizontally
  align-items: centers content vertically */

/* Individual flex items */
.box {
    /* min-width: 100px; */
    min-height: 100px;
    background-color:black;
    color:white;
    font-size:2rem;
    padding:0.5rem;
    /* Aligns the content of each box, that is the numbers */
    display:flex;
    /* Horizontal centering, because flex-direction by default is row */
    justify-content: center;
    /* Vertical centering */
    align-items:center;

    /* The value here determines how each item would grow to fill up the space of its container, for example, 
    a value of 1 would suggest that all items would grow at the same rate to fill up the container*/
    /* flex-grow:1; */
    
    /* Opposite of flex-grow */
    /* flex-shrink:1; */

    /* Similar to min-width for flex items */
    /* flex-basis:250px; */

    /* Shorthand-> flex: grow shrink basis */
    flex: 1 1 150px;
}

/* Overrides the flex-shrink:1 */
.box:nth-child(2) {
    flex: 2 2 150px;
    /* order -> by default has a value of 0, which means that the element stays where it is supposed to be rendered on the page. 
    A value higher than 0 would shift the element towards the end, a value less than zero would shift it towards the beginning */
    order:1;
}